---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkButton from "../components/LinkButton.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import projects from "../utils/projects.json";
import { Image } from "astro:assets";
---

<div class="flex flex-col gap-y-16">
  {projects.map(({ image, title, description, link, github }) => (
    <article class="grid grid-cols-1 md:grid-cols-2 gap-4 group">
      <a
        href={github}
        target="_blank"
        aria-label={`Ir al repositorio del proyecto ${title}`}
        class="relative flex transition duration-500 ease-in-out transform shadow-xl rounded-xl md:hover:-translate-y-1 md:hover:shadow-2xl"
      >
        <Image
          src={image}
          alt={`Proyecto ${title}`}
          width={1920}
          height={1080}
          loading="eager"
          class="object-cover object-center w-full rounded-xl transition duration-500 flex justify-center items-center text-xl"
        />
      </a>

      <div class="flex flex-col gap-2 justify-between p-4">
        <header>
          <h3 class="text-4xl font-bold text-[--text-900]">
            {title}
          </h3>
        </header>

        <main>
          <p class="mt-2 text-[--text-800] text-pretty">
            {description}
          </p>
        </main>

        <footer class="flex items-center justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHubIcon class="size-6" />
              Código
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <LinkIcon class="size-4" />
              Visitar
            </LinkButton>
          )}
        </footer>
      </div>
    </article>
  ))}
</div>

<style>
  img {
    aspect-ratio: 1.93/1;
  }
</style>
